- const headerGroups = {};

mixin displayPartLink(p)
    if (p.disabled)
        a(href=p.path disabled aria-disabled="true" tabindex="-1" title="Coming soon")= p.name
    else 
        a(href=p.path)= p.name

header
    nav.menu
        a(href="/") Lenra
        - const items = parts.map(p => ({...partsData[p], id: p, path: `/#${p}`}));
        each el in items
            if (!el.notInHeader)
                +displayPartLink(el)

    block header
        h1 !{currentPage.titleHtml || currentPage.title || currentPage.name}
        if currentPage.subtitle
            h2 !{currentPage.subtitle}
        if currentPage.headerTexts
            each text  in currentPage.headerTexts
                p= text
        if currentPage.mainAction
            a.btn.primary(href=currentPage.mainAction.href)= currentPage.mainAction.text