section#portfolio
    h2(data-title="Nos réalisations")
        | Un
        |
        strong portfolio
        |
        | bien rempli

    section.tab.filter
        input#portfolio-all(type="radio" name="portfolio" checked)
        label(for="portfolio-all") Tout voir
        input#portfolio-application(type="radio" name="portfolio")
        label.lenra-icon-devices(for="portfolio-application") Application
        input#portfolio-web-app(type="radio" name="portfolio")
        label.lenra-icon-layout(for="portfolio-web-app") Web app
        input#portfolio-website(type="radio" name="portfolio")
        label.lenra-icon-globe(for="portfolio-website") Site-web
        input#portfolio-api(type="radio" name="portfolio")
        label.lenra-icon-zap(for="portfolio-api") API
        - var classes = "invert-colors"
        ul
            li.website.web-app.api(class=classes)
                img(src="../img/portfolio/fitness-park-heroes.jpg" alt="Capture du site de l'événement Fitness Park Heroes 2023")
                details
                    summary
                        h3 Fitness Park Heroes 2019 &amp; 2023
                    p
                        | "Heroes Fitness Park" est un challenge proposé par Fitness Park, qui est conçu pour atteindre l'objectif d'être l'athlète Fitness Park en gagnant des différentes récompenses.
                        | Le site Web est destiné à promouvoir le challenge.
                    p
                        | Nous avons conçu 2 sites web pour Fitness Park, le premier en 2019 et le deuxième en 2023.

                    a.btn.link.lenra-icon-arrow-right(href="https://www.heroes.fitnesspark.fr/" target="_blank") Voir le site

            li.website(class=classes)
                img(src="../img/portfolio/lenra-docs.jpg" alt="Capture du site de documentation de Lenra")
                details
                    summary
                        h3 Site de documentation Lenra
                    p
                        | Nous avons conçu un site web pour documenter le fonctionnement de la solution open source Lenra.
                        | Le site guide les développeurs dans la création et l’hébergement d’applications.
                        | Il comprend des articles pour bien démarrer, des explications des différentes fonctionnalités et des guides.

                    a.btn.link.lenra-icon-arrow-right(href="https://docs.lenra.io/" target="_blank") Voir le site

            li.website(class=classes)
                img(src="../img/portfolio/lenra-website.webp" alt="Capture du site de présentation de Lenra")
                details
                    summary
                        h3 Site de présentation Lenra
                    p
                        | Nous avons conçu un site web pour présenter l’activité, les valeurs et l’équipe Lenra mais pas seulement.
                        | Le site est en effet une porte d’entrée sur la plateforme Lenra, une solution de création et d’hébergement d’applications open source, qui s’adresse aux développeurs.

                    a.btn.link.lenra-icon-arrow-right(href="https://www.lenra.io/" target="_blank") Voir le site

            li.application.web-app.api(class=classes)
                img(src="../img/portfolio/lenra-back-office.jpg" alt="Capture du back-office de Lenra")
                details
                    summary
                        h3 Plateforme Lenra
                    p
                        | Nous avons conçu une plateforme pour créer et héberger des applications Lenra.
                        | La plateforme est composée d’un back-office pour administrer les applications créées et d'un espace pour utiliser les application qui utilisent tous deux l'API que l'ont a conçu.
                        | Nous avons également conçu d'autres outils, comme une interface en ligne de commande, pour faciliter la création d'app en local.

                    a.btn.link.lenra-icon-arrow-right(href="https://app.lenra.io/" target="_blank") Tester Lenra

            li.website(class=classes)
                img(src="../img/portfolio/go-sport-training-festival.webp" alt="Capture du site de l'événement Go Sport Training Festival")
                details
                    summary
                        h3 Go Sport Training Festival
                    p
                        | Le Go Sport Training Festival est un événement festif et sportif qui se déroule chaque année.
                        | Le site web est destiné à promouvoir l'événement auprès du public et à permettre aux utilisateurs de s'inscrire et de réserver leur place pour les différentes activités proposées.
                    p
                        | Nous avons conçu le site web de cet événement.

            li.website.web-app.api(class=classes)
                img(src="../img/portfolio/rush-challenge.jpg" alt="Capture du site de l'événement Rush Challenge")
                details
                    summary
                        h3 Rush Challenge
                    p
                        | Ce projet est une campagne publicitaire numérique menée pour la marque Intersport en collaboration avec la marque Under Armour.
                        | Plusieurs centaines de personnes se sont challengées avec Rush Challenge pour tenter de rencontrer Teddy Riner sur un défi engageant.
                    p
                        | Nous avons conçu le site web de ce challenge et le système de classement.

            li.web-app(class=classes)
                img(src="../img/portfolio/nike-golden-blocks-pegasus35.webp" alt="Capture du site de l'événement Nike Pegasus 35")
                details
                    summary
                        h3 Nike - Pegasus 35
                    p
                        | Ce projet est une campagne publicitaire numérique menée pour Nike. La campagne avait pour objectif de promouvoir la nouvelle chaussure de running de Nike auprès d'un public cible de jeunes adultes.
                        | Les résultats de la campagne ont été positifs, avec une augmentation significative du trafic et des ventes en ligne pour Nike.
                        | La campagne a également remporté un prix dans la catégorie "Activation de marque" aux Cannes Lions 2018.
                    p
                        | Nous avons conçu une petite web app sans accès à internet qui servait de compteurs kilométrique sur l'événement.